body {
  background-color: rgba(30, 30, 60, 1);
}

.game-canvas {
  background-image: url('http://cdn.wallpapersafari.com/61/65/Qxg7dp.jpg');
  border: 2px solid;
  border-color: white;
  display: block;
  margin: auto;
}
