body {
  background-image: url('http://i.imgur.com/CAbj8La.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.game-canvas {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid;
  border-color: white;
  display: none;
  margin: auto;
  margin-top: 5%;
}

.well {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  color: white;
  display: block;
  font-family: 'Orbitron', sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  padding-bottom: 5px;
  padding-top: 5px;
}

#scoreboard {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  display: none;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

h1 {
  font-size: 300%;
}

button {
  background-color: #21d141;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#start-gama-btn {
  margin-top: 24px;
}
